<!doctype html>
<html>
<head>
   <title>BusFeed</title>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0" user-scalable=no>


   <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
   <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
   <!--[if lt IE 9]>
   <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
   <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
   <![endif]-->
   <link rel="stylesheet" type="text/css" href="../css/bootstrap.css">
   <link rel="stylesheet" type="text/css" href="../css/bootstrap-theme.css">
   <link rel="stylesheet" type="text/css" href="../css/center.css">
</head>

<body>
   <nav class="navbar navbar-default">
      <div class="container-fluid">
         <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar-collapse" aria-expanded="false">
               <span class="sr-only">Toggle navigation</span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
            </button>
            <a href="/home" class="navbar-brand">BusFeed</a>
         </div>
         <div class="collapse navbar-collapse" id="bs-navbar-collapse">
            <ul class="nav navbar-nav">
               <li><a href="/home">Home</a></li>
               <li><a href="/findstop">Find Stop</a></li>
               <li><a href="/mytrips">My Trips</a></li>
               <li><a href="/newtrip">New Trip</a></li>
               <li class="nav-divider"></li>
               <li><a href="/">Logout</a></li>
            </ul>
         </div>
      </div>
   </nav>

   <script src="https://code.jquery.com/jquery.js"></script>
   <script src="../js/bootstrap.js"></script>

   {{{body}}}

</body>
</html>
