<!doctype html>
<html>
<head>
   <title>BusFeed</title>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0" user-scalable=no>


   <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
   <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
   <!--[if lt IE 9]>
   <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
   <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
   <![endif]-->
   <link rel="stylesheet" type="text/css" href="../css/bootstrap.css">
   <link rel="stylesheet" type="text/css" href="../css/bootstrap-theme.css">
   <link rel="stylesheet" type="text/css" href="../css/center.css">
</head>

<body>
   <nav class="navbar navbar-default">
      <div class="container-fluid">
         <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar-collapse" aria-expanded="false">
               <span class="sr-only">Toggle navigation</span>
               Menu
            </button>
            <a href="/home" class="navbar-brand" style="margin-top: 3px;">BusFeed</a>
         </div>
         <div class="collapse navbar-collapse" id="bs-navbar-collapse">
            <ul class="nav navbar-nav">
               <li><a href="/home">Home</a></li>
               <li><a href="/findstop">Find Stop</a></li>
               <li class="nav-divider"></li>
               <li><a href="/">Logout</a></li>
            </ul>
         </div>
      </div>
   </nav>

   <script>
   (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
   })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

   ga('create', 'UA-87618244-1', 'auto');
   ga('send', 'pageview');

   </script>
   <script src="https://code.jquery.com/jquery.js"></script>
   <script src="../js/bootstrap.js"></script>

   {{{body}}}

</body>
</html>
