<div class="container">
   <div class="row">
      <div class="col-sm-8 col-md-10 col-md-offset-1">
         <span class="label label-default" style="padding: 8px; display: block; text-align: left; font-size: 1.1em;">
            <a href="{{goBack}}" class="btn btn-default" style="margin-right: 5px;">
               <i class="glyphicon glyphicon-chevron-left"></i>
            </a>
            {{stopName}}
         </span>
         <button role="button" class="btn btn-danger btn-block" style="margin-top: 10px;" onclick="pingStop()">
            Report: Crowded stop
         </button>
         <button role="button" class="btn btn-default btn-block" style="margin-top: 5px; margin-bottom: 10px;">
            Add to feed
         </button>
      </div>
   </div>
</div>

<script>

var stopId = "{{stopId}}";
var stopName = "{{stopName}}";

function pingStop() {

   $.post('/ping/'+stopId, function(result) {
      alert("Report sent!");
   });
}

</script>
