<div class="container">
   <div class="row">
      <div class="col-sm-8 col-md-10 col-md-offset-1">
         <a href="{{goBack}}" class="btn btn-default"><i class="glyphicon glyphicon-chevron-left"></i></a>
         <span class="label label-default">{{stopName}}</span>
      </div>
   </div>
</div>
