<div class="container">
   <div class="row">
      <div class="text-center">
         <h1>Hello, {{username}}.</h1>
      </div>
      <div class="col-sm-8 col-md-10 col-md-offset-1">
         <button class="btn btn-primary btn-block" style="margin-bottom: 5px;" onclick="this.innerHTML='Searching...'; this.disabled=true; closestStop();">Find closest stop</button>
         <span class="label label-default" style="margin-bottom: 5px; padding: 10px; display: block; text-align: left; font-size: 1.25em;">
            Feed
         </span>
         <div class="list-group" id="feed"></div>
      </div>
   </div>
</div>

<script>
$(document).ready(
   $.getJSON("../data/feed", function(json) {
      console.log(json);
      if (json.feed.length > 0) {
         for (var stop in json.feed) {
            id = json.feed[stop].id;
            name = json.feed[stop].name;
            $('#feed').append("<a href='/detail/" + id + "' class='list-group-item'>" + name + "<span class='badge'>0</span></a>");
         }
         $('#feed').append("<a href='findstop' class='list-group-item'>Add Stop<i class='glyphicon glyphicon-plus' style='float: right;'></i></a>");
      }
      else {
         $('#feed').append("<a href='/findstop' class='list-group-item'><h4 class='list-group-item-heading'>No stops tracked!</h4><p class='list-group-item-text'>Press to add stops.</p></a>");
      }
   })
);

function closestStop() {
   $.getJSON("../data/geos", function(json) {
      console.log(json);

      if (navigator.geolocation) {
         var service = new google.maps.DistanceMatrixService();
         navigator.geolocation.getCurrentPosition(function(position) {
            var start = {
               lat: position.coords.latitude,
               lng: position.coords.longitude
            };

            var distance = Number.MAX_SAFE_INTEGER;
            var closest;

            var i = 0;
            var stop = json.locations[i];
            var dest = {
               lat: stop.geo.lat,
               lng: stop.geo.long
            };

            function checkNearest(response, status) {
               if (status == 'OK') {
                  var d = response.rows[0].elements[0].distance.value;
                  if (d < distance) {
                     console.log(stop.id, i, response.rows[0].elements[0].distance.value);
                     distance = d;
                     closest = json.locations[i];
                  }

                  if (i < json.locations.length - 1) {
                     i++;
                     stop = json.locations[i];
                     dest = {
                        lat: stop.geo.lat,
                        lng: stop.geo.long
                     };
                     service.getDistanceMatrix({
                        origins: [start],
                        destinations: [dest],
                        travelMode: 'WALKING'
                     }, checkNearest);
                  }
                  else {
                     console.log("stop found");
                     window.location.replace('/detail/'+closest.id);
                  }
               }
            }

            service.getDistanceMatrix({
               origins: [start],
               destinations: [dest],
               travelMode: 'WALKING'
            }, checkNearest);
         }, function() {
            alert("Geolocation service failed.");
         });
      } else {
         alert("Geolocation not enabled.");
      }
   });
}
</script>

<script async defer
    src="https://maps.googleapis.com/maps/api/js?key={{mapsKey}}">
    </script>
