<div class="container-fluid text-center">
 <h1>BusFeed</h1>
 <div class="row"><a class="btn btn-primary" href="mytrips">My Trips</a></div>
 <div class="row"><a class="btn btn-default" href="newtrip">New Trip</a></div>
</div>
