<h1>BusFeed</h1>
<ul style="list-style-type:none">
<li><a class="btn btn-primary" href="#" role="button">My Trips</a></li>
<li><a class="btn btn-default" href="#" role="button">New Trip</a></li>
</ul>
