<div class="container-fluid">
 <h1 class="text-center">My Trips</h1>
 <div class="list-group">
  <a href="#" class="list-group-item">
    <h4 class="list-group-item-heading">Warren Housing > Galbraith by 5:00PM</h4>
    <p class="list-group-item-text">via Campus Loop | <span class="text-danger">Alert @ 4:45PM</span></p>
  </a>
  <a href="#" class="list-group-item">
    <h4 class="list-group-item-heading">Warren Housing > Galbraith by 6:00 PM</h4>
    <p class="list-group-item-text">via Campus Loop | <span class="text-danger">Alert @ 5:45PM</span></p>
  </a>
  <a href="#" class="list-group-item">
    <h4 class="list-group-item-heading">Warren Housing > Galbraith by 7:00 PM</h4>
    <p class="list-group-item-text">via Campus Loop | <span class="text-danger">No Alert</span></p>
  </a>
  <a href="/newtrip" class="list-group-item text-center">
    <h4 class="list-group-item-heading">Add Trip</h4>
  </a>
 </div>
 <div class="text-center"><a class="btn btn-link" href="/">Back</a></div>
</div>
