<div class="container-fluid">
 <h1 class="text-center">New Trip</h1>
 <form>
   <div class="form-group">
     <label for="inputlocation">Start Location</label>
     <input type="text" class="form-control" id="inputstart">
   </div>
   <div class="form-group">
     <label for="inputdestination">Destination</label>
     <input type="text" class="form-control" id="inputdestination">
   </div>
   <div class="form-group">
     <label for="inputtime">Arrival Time</label>
     <input type="text" class="form-control" id="inputtime" >
     <p class="help-block">(Optional) Time before which to arrive at destination.</p>
   </div>
   <a class="btn btn-link" href="/">Cancel</a>
   <a href="/pickroute" class="btn btn-default">Plan Trip</a>
 </form>
</div>
